.header-link{
margin: 0;
padding: 0px;
background-colorgrey;
display: block;
text-align: center;
float: left;
border:grey;}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:grey;
  }
li a:hover{background-color: green;
color:white;}
li a{padding: 14px 16px;
    display: block;
    color:white}